# Bytes-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
myenv/
.env/
env/
ENV/
.venv/

# Streamlit
.streamlit/config.toml
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# Data & Results
results/
*.csv
*.xlsx

# OS junk
.DS_Store
Thumbs.db
